@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bebas {
    font-family: 'Bebas Neue', sans-serif;
  }
}

@layer utilities {
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
  }
  input[type='date'] {
    -moz-appearance: textfield; /* For Firefox */
    appearance: none; /* Ensures consistency across browsers */
  }

  input[type='date']::-webkit-datetime-edit {
    color: gray;
  }
}
